:root {
  --color-white: #ffffff;
  --secondary-red-color: #9c1d33;
  --primary-red-color: #ff3155;
  --primary-black-color: #161618;
  --secondary-black-color: #111827;
  --secondary-black-color-v2: #0e121b;
  --text-primary-grey-color: #4b5563;
  --text-secondary-grey-color: #525866;
  --text-color-v4: #d1d5db;
  --text-secondary-color-v2: #6b7280;
  --text-secondary-color-v3: #9ca3af;
  --bg-color-grey: #f9fafb;
  --bg-color-grey-2: #f3f4f6;
  --bd-rad-24: 24px;
  --lighter-red-color-1: #fef2f2;
  --font-size-sm: 0.875rem; /* 14px */
  --line-height-normal: 1.5;
}

//Screen device breakpoint for responsive media query
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
