@use "../../abstract/function" as *;

.sca__mainBlock {
  padding-block: rem(124);
}

.sca__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  margin-block-start: rem(40);
}

.sca__contentAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.sca__contentWriteUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(463);
  text-align: center;
  gap: rem(24);

  & > span {
    font-size: 14px;
    font-weight: 400;
    max-width: 380px;
    color: var(--text-primary-grey-color);

    & > span:nth-child(1) {
      font-weight: 500;
    }
  }
}

//bottom content
.sca__bottomContent {
  display: grid;
  // grid-template-columns: 1.5fr 2fr;
  grid-template-columns: minmax(300px, 1.5fr) minmax(450px, 2fr);
  grid-template-rows: rem(584);
  gap: 12px;
  padding-block-start: rem(100);
}

.sca__bottomContent__imgContainer,
.sca__bottomContent__leftItem {
  overflow: hidden;
  border-radius: rem(32);
}

.sca__bottomContent__imgContainer {
  display: flex;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sca__bottomContent__leftItem {
  position: relative;
  background-color: #111827;
}

.dotBg__container {
  position: absolute;
  display: flex;
  z-index: 0;
  inset: 0;
}

.sca__bottomContent__writeUp {
  display: flex;
  flex-direction: column;
  gap: rem(56);
  color: #fff;
  padding: rem(44);
  position: relative;
  z-index: 1;
}

.sca__bottomContent__writeUp__heading {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  & > p {
    color: var(--text-secondary-color-v3);
    font-weight: 400;
    line-height: rem(24);
  }
}

.sca__bottomContent__list {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  & > li {
    display: flex;
    align-items: center;
    gap: rem(12);
  }
}

.gcSupport__innerContainer {
  display: flex;
  flex-direction: column;
  gap: rem(64);
}

.gcSupport__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(64);
}

.gcSupport__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  & > li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(8);
    width: rem(69);

    & > span {
      font-size: rem(12);
      color: var(--text-primary-grey-color);
    }
  }
}
