@use "../../abstract/function" as *;

.sca__mainBlock {
  padding-block: rem(124);

  @media (max-width: 900px) {
    padding-block: rem(104);
  }

  & > .container:nth-child(3) {
    @media (max-width: 900px) {
      padding-inline: 0;
    }
  }
}

.sca__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  margin-block-start: rem(40);
}

.sca__contentAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    width: 100%;
    height: auto;
    object-fit: contain;

    @media (max-width: 900px) {
      object-fit: cover;
      height: rem(240);
    }
  }
}

.sca__contentWriteUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(463);
  text-align: center;
  gap: rem(24);

  & > span {
    font-size: rem(14);
    font-weight: 400;
    max-width: rem(380);
    color: var(--text-primary-grey-color);

    @media (max-width: 900px) {
      max-width: rem(320);
    }

    & > span:nth-child(1) {
      font-weight: 500;
    }
  }
}

//bottom content
.sca__bottomContent {
  display: grid;
  grid-template-columns: minmax(300px, 1.5fr) minmax(450px, 2fr);
  grid-template-areas: "image content";
  gap: rem(12);
  padding-block-start: rem(100);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas:
      "content"
      "image";
  }
}

.sca__bottomContent__imgContainer,
.sca__bottomContent__leftItem {
  overflow: hidden;
  border-radius: rem(32);
  @media (max-width: 900px) {
    border-radius: 0;
  }
}

.sca__bottomContent__imgContainer {
  grid-area: image;

  & > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.sca__bottomContent__leftItem {
  grid-area: content;
  position: relative;
  background-color: #111827;
}

.dotBg__container {
  position: absolute;
  display: flex;
  z-index: 0;
  inset: 0;
}

.sca__bottomContent__writeUp {
  display: flex;
  flex-direction: column;
  gap: rem(56);
  color: #fff;
  padding: rem(44);
  position: relative;
  z-index: 1;

  @media (max-width: 900px) {
    padding-inline: rem(22);
  }
}

.sca__bottomContent__writeUp__heading {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  & > p {
    color: var(--text-secondary-color-v3);
    font-weight: 400;
    line-height: rem(24);
  }
}

.sca__bottomContent__list {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  & > li {
    display: flex;
    align-items: center;
    gap: rem(12);
  }
}

.gcSupport__innerContainer {
  display: flex;
  flex-direction: column;
  gap: rem(64);
}

.gcSupport__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(64);
}

.gcSupport__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }
  & > li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(8);
    width: rem(69);

    & > span {
      font-size: rem(12);
      color: var(--text-primary-grey-color);
      font-weight: 500;
    }
  }
}
