@use "../../abstract/function" as *;

.twc__mainBlock {
  background-color: var(--color-white);
  padding-block-start: rem(124);

  @media (max-width: 768px) {
    padding-block-start: rem(55);
  }
}

.twc__mainBlock__intro > p {
  max-width: rem(460);
  @media (max-width: 768px) {
    font-size: rem(14);
    max-width: rem(360);
  }
}

.twc__contentBlock {
  display: grid;
  grid-template-areas:
    "sellCrypto sellGiftCard"
    "business business";

  gap: rem(16);
  margin-block-start: rem(56);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sellCrypto"
      "sellGiftCard"
      "business";
  }

  & > div {
    background-color: var(--bg-color-grey);
    border-radius: rem(40);
    padding: rem(28);
  }

  & > div:nth-child(1) {
    grid-area: sellCrypto;
  }
  & > div:nth-child(2) {
    grid-area: sellGiftCard;
  }

  & > div:nth-child(3) {
    grid-area: business;
  }

  & > div:nth-child(1),
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: rem(162);

    @media (max-width: 768px) {
      gap: rem(60);
    }

    & > div:first-of-type {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      & > div {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        @media (max-width: 768px) {
          & > p {
            font-size: rem(14);
            color: var(--text-secondary-grey-color);
            max-width: rem(294);
          }
        }
      }
    }
  }

  & > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
      gap: rem(72);
    }

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      flex: 1;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      flex-basis: rem(630);
      @media (max-width: 768px) {
        flex-basis: unset;
        gap: rem(8);

        & > p {
          font-size: rem(14);
          max-width: rem(294);
        }

        & > button {
          margin-block-start: rem(12);
        }
      }
    }
  }
}
