*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height-normal);
  min-height: 100vh;
  font-family: var(--font-inter-sans);
  overflow-x: hidden;
  color: var(--color-text-primary);
  letter-spacing: -0.5px;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
  line-height: 1.1;
  letter-spacing: -1px;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul li,
ol li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  transition: all 250ms ease-in;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0.5px solid transparent;
}
