@use "../abstract/function" as *;

.container {
  max-width: rem(1240);
  margin-inline: auto;
  margin-block: 0;

  padding-inline: rem(32);

  @media (max-width: 560px) {
    padding-inline: rem(20);
  }
}

.heading-2 {
  font-weight: 500;
  font-size: rem(32);
  text-wrap: wrap;
  line-height: 40px;
  letter-spacing: -2px;

  @media (max-width: 900px) {
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: -1px;
  }
}

.heading-3 {
  font-size: rem(20);
  font-weight: 600;
  line-height: rem(24);
  color: var(--secondary-black-color-v2);

  @media (max-width: 900px) {
    font-size: rem(18);
    font-weight: 500;
    line-height: rem(27);
  }
}

.heading-4 {
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(27);
  letter-spacing: -1px;

  @media (max-width: 900px) {
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: -0.5px;
  }
}

.text-muted,
.text-muted-v2 {
  font-weight: 400;
  @media (max-width: 900px) {
    font-size: rem(14);
  }
}

.text-muted {
  color: var(--text-secondary-grey-color);
}

.text-muted-v2 {
  color: var(--text-secondary-grey-color);
}

.textColor__red {
  color: var(--primary-red-color);
}

.uppercase {
  text-transform: uppercase;
}

.fw-500 {
  font-weight: 500;
}

.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);
  text-align: center;

  & > p {
    color: var(--text-primary-grey-color);
    font-weight: 400;
    line-height: rem(24);
    max-width: var(--section-intro-p-maxWidth, none);

    @media (max-width: 900px) {
      max-width: rem(360);
    }
  }
}

.stack-vertical {
  display: flex;
  flex-direction: column;
}

.sectionBlock {
  padding-block: rem(100);
  margin-block-end: rem(24);
}

.safetyNote__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(463);
  text-align: center;
  gap: rem(24);
}

.safetyNote__text {
  font-size: 14px;
  font-weight: 400;
  max-width: 420px;
  color: var(--text-primary-grey-color);

  & > span:nth-child(1) {
    font-weight: 500;
  }
}

.safetyNote__ctas {
  display: flex;
  align-items: center;
  gap: rem(14);
}

// styles for main foundation of the webpage,
// this would be converted as a component on cleanup
.articleBlock__main {
  max-width: 1440px;
  margin-inline: auto;
}

.animateBlock {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes appear {
  from {
    opacity: 0;

    transform: translateY(80px);
  }
  to {
    opacity: 1;

    transform: translateY(0);
  }
}
