@use "../abstract/function" as *;
.container {
  max-width: 1240px;
  margin-inline: auto;
  margin-block: 0;
}

.heading-2 {
  font-weight: 500;
  font-size: rem(32);
  text-wrap: wrap;
  line-height: 40px;
  letter-spacing: -2px;
}

.heading-3 {
  font-size: rem(20);
  font-weight: 600;
  line-height: rem(24);
  color: var(--secondary-black-color-v2);
}

.heading-4 {
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(27);
  letter-spacing: -1px;
}

.text-muted,
.text-muted-v2 {
  font-weight: 400;
}

.text-muted {
  color: var(--text-secondary-grey-color);
}

.text-muted-v2 {
  color: var(--text-secondary-grey-color);
}

.textColor__red {
  color: var(--primary-red-color);
}

.uppercase {
  text-transform: uppercase;
}

.fw-500 {
  font-weight: 500;
}

.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);
  text-align: center;

  & > p {
    color: var(--text-primary-grey-color);
    font-weight: 400;
    line-height: rem(24);
    max-width: var(--section-intro-p-maxWidth, none);
  }
}

.stack-vertical {
  display: flex;
  flex-direction: column;
}
